/* ========================================
 table of contents
===========================================

1.Left section
2.Right section ==> animation part
*/


section.hero{
    margin-top:2.7rem;
}
/* =========================================
    1.Left section
============================================ */
section.hero .parent-avatar.flex{
    align-items:end;
    gap:0.7rem;
    min-height:88px;
}
section.hero .left-section{
    flex-grow: 1;
}

section.hero .icon-verified{
    color:var(--blue);
    font-size:1.1rem;
    margin-bottom:0.3rem;
}

section.hero .avatar{
    width:89px;
    border-radius:50%;
    border:1px solid rgb(0, 0, 0);
    padding:2px;
   
}

section.hero h1.title{
    font-size: 2.8rem;
    line-height:3.3rem;
    margin:25px 0 ;
    color:var(--title);
}

section.hero p.sub-title{
    color:var(--subtitle);
    font-size:0.9rem;
    line-height :1.65rem;
    margin-bottom:32px;

}
section.hero .all-icons{
    font-size:1.2rem;
    gap: 1.5em;
    color:var(--subtitle);
}

section.hero .all-icons .icon-1:hover{
    font-size: 1.6rem;
    transition:.4s;
    cursor: pointer;
    color:black;
}
section.hero .all-icons .icon-2:hover{
    font-size: 1.6rem;
    transition:.4s;
    cursor: pointer;
    color:var(--blue);
}
section.hero .all-icons .icon-3:hover{
    font-size: 1.8rem;
    transition:.4s;
    cursor: pointer;
    color:red;
}
section.hero .all-icons .icon-4:hover{
    font-size: 1.8rem;
    transition:.4s;
    cursor: pointer;
    color:rgb(92, 16, 90)
}

/* ============================================
    1.Right section ==> animation part
=============================================== */
section.hero .animation{
    width: 100%;
    translate:100px 55px;

}
@media (max-width: 1200px){
    section.hero .animation{
      display:none;
    }
  
  } 
  